<%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:name => 'login_form', :novalidate=>'novalidate',}) do |f| %>
  <div class="form-group">
    <%= f.label :account_name, class: "required" %>
    <%= f.text_field :account_name, autofocus: true, class: "form-control input-lg clean", :'required' =>'required' %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "required" %>
    <%= f.email_field :email, class: "form-control input-lg clean", :'required'=>'required' %>
  </div>

  <div class="form-group">
    <%= f.label :password%>
    <div class="input-group">
      <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", :'aria-describedby'=> "password-input-group"%>
      <span class="input-group-addon clickable showHidePassword" onclick='showHidePassword(event)' id="password-input-group">
        <i class='fa fa-eye-slash ' title='Show Password' data-toggle='tooltip'></i>
      </span>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <label for="user_remember_me">
          <%= f.check_box :remember_me %>
          Remember Me
        </label>
      </div>
  <% end %>

  <div class="form-group">
    <%= f.button "Login", type: 'submit', class: "btn btn-default btn-lg" %>
  </div>
<% end %>
<%= render "users/shared/links" %>