<div class="col-xs-6">
  <h2 class="page-header">Change your password</h2>
  <% if !session[:is_impersonated] %>
  <%= bootstrap_form_for(resource, as: resource_name, url: edit_user_registration_path , html: { method: :patch}, validate: true ) do |f| %>
      <div class="form-group">
          <%= f.password_field :current_password, label: 'Current password <span class="text-danger">*</span>'.html_safe, autofocus: true, autocomplete: "off", class: 'form-control input-lg', :append=>"<i class='fa fa-eye-slash clickable showHidePassword' title='Show Password' data-toggle='tooltip' onclick='showHidePassword(event)'></i>".html_safe %>
      </div>
      <div class="form-group">
          <%= f.password_field :password, label: 'New Password <i class="fa fa-info-circle pull-right clickable"
           title="Password must include at least one upper case letter, one lower case letter, one number, one special character and minimum 8 characters."
           data-toggle="tooltip"></i>'.html_safe,  autocomplete: "off", class: 'form-control input-lg', :append=>"<i class='fa fa-eye-slash clickable showHidePassword' title='Show Password' data-toggle='tooltip' onclick='showHidePassword(event)'></i>".html_safe %>
      </div>

      <div class="form-group">
          <%= f.password_field :password_confirmation, label: 'Password confirmation <span class="text-danger">*</span>'.html_safe, autofocus: true, autocomplete: "off", class: 'form-control input-lg',:append=>"<i class='fa fa-eye-slash clickable showHidePassword' title='Show Password' data-toggle='tooltip' onclick='showHidePassword(event)'></i>".html_safe %>
      </div>

      <div class="form-group">
        <%= f.submit 'Update', class: 'btn custom-btn', disable_with: 'Saving..' %>
      </div>
  <% end %>
      <% else %>
  <span>You do not have permission to change this user password.</span>
      <% end %>
</div>